* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: row nowrap;
}

.columna1{
    position: absolute;
    transform: translate(-240px, 0);
    height: 100vh;
    width: 250px;
    background-color: #ff8080;
}

.columna2{
    background-color: red;
    width: 100%;
    height: 100vh;
}

@media (min-width: 600px){
    .columna1{
        transition: 2s ease-out;
        transform: translate(0,0);
    }
}