*{
    margin: 0;
    overflow: hidden;
}

div>img{width: 200px;}
div>p{text-align: left;}

div.box{
    float: left;
    box-sizing: border-box; /* Evita el calculo del padding con el ancho pero no de los márgenes */
    padding: 1em;
    margin: 0.3%;
    width: 32%;
    border: 1px black solid;
    vertical-align: text-top;
    text-align: center;
}

div#vacio{
    clear: both;
}

div#boxfinal{
    clear: both;
    box-sizing: border-box;
    text-align: center;
    padding: 1em;
    margin: 0.3%;
    width: 100%;
    border: 1px black solid;
}
